:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
}

body {
  background: radial-gradient(77.5% 43.15% at 0% 0%, #555555 0%, #7b7b7b 100%);
}
